img{
    border: 1px solid rgb(226, 180, 30);
    width: 100px;
    height: 70px;
    border-radius: 20%;
    transition: transform 2s;
}
img:hover{
    transform:scale(1.5);
}
#head{
    color:red;
}