@font-face {
    font-family: rent-car;
    src: url(../../resources/bruce-forever-font/Al_Veshion_PersonalUseOnly.otf);
}

*{
    

    font-family: rent-car;
    color: 	#FFD700
}

body {
    background-color: #222222;
}

input{
    color: black !important;
}

#hovers{
    transition: transform 3s;   
    background-color: gray !important;
}

#hovers:hover{
    
    transform: scale(1.05);
    box-shadow: 1px 1px 30px 	#FFD700;
}

td, th{
    color: #FFD700 !important;
}

#buttonss:hover{
    background-color: #FFD700 !important;
    color: #222222 !important;
    
}

/* CSS */


/* CSS */
#button-29 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-29:after {
  content: "";
  background-color: #ffe54c !important ;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#button-29:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  #button-29 {
    padding: 13px 50px 13px;
  }
}

#card{
    background-color: gray !important;
    transition: transform 3s;   
}
#card:hover{
    
    transform: scale(1.05);
    box-shadow: 1px 1px 30px 	#FFD700 !important;
}


#avatar{
    border-radius: 50% !important;
}

#backgound{
    background-color: #222222 !important;
}



